<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Spring MVC Application</title>
</head>

<body>

	<h1>Employee Information</h1>
	<p th:text="'Employee id: ' + ${employee.number} " />
	<p th:text="'First Name: ' + ${employee.firstName} " />
	<p th:text="'Last Name: ' + ${employee.lastName} " />
	<p th:text="'Gender: ' + ${employee.gender} " />
	<p th:text="'Department: ' + ${employee.deptName} " />
	<p th:text="'Salary: ' + ${employee.Salary} " />
</body>
</html>